.lmj-select-list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.lmj-button-reset {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}